/* CSS Group 21 */
/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #ff8616;
    --text-color: #fff;
    --text-color2: #9e9e9e;
    --other-color: #212121;
    --second-color: #666;
    --bg-color: #111111;
    --button-primary: #e8491d;

    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    height: 100vh;
}

/* Header Styles */
nav {
    position: sticky;
    top: 0;
}

/* Top Navigation Bar */
.top-nav {
    background: var(--main-color);
    color: var(--text-color);
    padding: 0.5rem 0;
    text-align: right;
}

.top-nav .login-signup button {
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid var(--text-color);
    border-radius: 15px;
    color: var(--text-color);
    cursor: pointer;
}

.top-nav .login-signup button.btn-primary {
    background: var(--button-primary);
    border: none;
    margin-right: 105px;
}

/* Main Navigation Bar */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: var(--other-color);
}

.main-nav .logo img {
    margin-left: 80px;
    margin-top: 15px;
    width: 100px;
    max-height: auto;
}

.main-nav ul {
    float: right;
    margin-right: 20px;
}

.main-nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

.main-nav ul li a {
    color: var(--text-color);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.main-nav ul a.active {
    background: var(--button-primary);
    border-radius: 20px;
}

.main-nav a:hover,
.main-nav .cart-link:hover {
    opacity: 0.5;
}

.main-nav ul .search {
    color: var(--text-color);
    display: inline-block;
}

.main-nav ul .search:hover {
    opacity: 0.5;
}

/* Search btn */
.main-nav .search-form {
    position: absolute;
    top: 140px;
    right: 70px;
    width: 15.625rem;
    height: 2rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.main-nav .search-form.active {
    transform: scaleY(1);
}

.main-nav .search-form input {
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: var(--second-color);
    padding: rem;
}

.main-nav .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/* Cart btn */
.main-nav ul .cart-link {
    position: relative;
    margin-right: 80px;
}

.main-nav ul .cart-link .fas {
    font-size: 1.2rem;
}

.main-nav .shopping-cart {
    position: absolute;
    top: 130px;
    transform: scaleY(0);
    height: auto;
    width: 20rem;
    background-color: var(--second-color);
    color: var(--bg);
    z-index: 999;
}

.main-nav .shopping-cart.active {
    right: 0;
    transform: scaleY(1);
}

.main-nav .shopping-cart .cart-item {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-color);
    position: relative;
}

.main-nav .shopping-cart img {
    height: 3rem;
    border-radius: 50%;
}

.main-nav .shopping-cart h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.main-nav .shopping-cart .item-price {
    font-size: 0.75rem;
}

.main-nav .shopping-cart .fa-solid {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.main-nav .shopping-cart .fa-solid:hover {
    opacity: 0.6;
}

/* Hamburger btn */
.checkbtn {
    font-size: 30px;
    color: var(--text-color);
    float: right;
    line-height: 80px;
    margin: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Main Styles */
main {
    background: no-repeat;
    background-size: cover;
    padding: 0px 10% 60px;
}

/* HOME */
/* Hero */
.hero {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.hero .hero-img {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    padding-left: 20px;
}

.hero .hero-img .imgbox {
    width: 500px;
    height: auto;
}

.hero .hero-img .imgbox img {
    max-width: 150px;
}

/* swiper img */
.hero .hero-img .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero .hero-img .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: auto;
}

.hero .hero-img .swiper-slide img {
    display: block;
}
/* end swiper */

.hero .hero-text {
    font-size: 50px;
    position: relative;
}

.hero .hero-text h1 {
    font-size: var(--big-color);
    font-weight: 700px;
    line-height: 1.3;
    margin-bottom: 3rem;
}

.hero .hero-text h1 span {
    color: var(--main-color);
}

.hero .hero-text .btn {
    display: inline-block;
    background: var(--other-color);
    padding: 15px 35px;
    color: var(--main-color);
    font-weight: 500;
    font-size: var(--p-font);
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all .50s ease;
}

.hero .hero-text .btn i {
    vertical-align: middle;
    font-size: 22px;
    margin-left: 9px;
}

.hero .hero-text .btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: var(--button-primary) 0px 1px 10px;
}

.hero .hero-text .btn2 {
    font-size: 20px;
    display: inline-block;
    margin-left: 30px;
    font-weight: 500;
    font-size: var(--p-font);
    letter-spacing: 1px;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transition: all .50s ease;
}

.hero .hero-text .btn2:hover {
    transform: scale(1.1);
}

/* About */
.middle-text {
    text-align: center;
}

.middle-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--main-color);
}

.middle-text h2 {
    font-size: var(--h2-font);
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 2rem;
}

.about-text p {
    color: var(--text-color2);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

/* Testimoni */
.testimoni .middle-text h4 {
    margin-top: 5em;
}

.testimoni .testimoni-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 4rem;
    margin-top: 2rem;
}

/* Swiper testimoni */
.testimoni-content .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimoni-content .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
}
/* End swiper */

.testimoni-content .box {
    padding: 35px;
    background: var(--other-color);
    border-radius: 3rem;
    width: 330px;
    height: 400px;
    box-shadow: 0 0 0.2em var(--text-color);
    display: flex;
    align-items: center;
}

.testimoni-content .box .in-box {
    align-items: center;
    gap: 30px;
}

.testimoni-content .box .in-box .bx-img img {
    width: 80px;
    height: auto;
    border-radius: 3rem;
}

.testimoni-content .box .in-box .bx-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}

.testimoni-content .box .in-box .bx-text h4 {
    margin: 5px 0;
    font-size: 18px;

}

.testimoni-content .box .in-box .bx-text h5 {
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.testimoni-content .box .in-box .bx-rate i {
    color: var(--main-color);
    font-size: 18px;
    margin-right: 5px;
}
/* End HOME */

/* MENU */
.menu .middle-text h2,
.middle-text h4 {
    margin-top: 40px;
}

.popular-menu,
.new-menu,
.other-menu,
.drink-menu {
    margin-bottom: 20px;
}

.shape {
    display: inline-block;
    padding: 15px 35px;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.row {
    position: relative;
    padding: 10px 35px 40px;
    background: var(--other-color);
    border-radius: 3rem;
    height: 600px;
}

.row img {
    width: 100%;
    height: auto;
    transition: transform .50s ease;
    cursor: pointer;
}

.row h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.row p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.1rem;
}

.in-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-text .price h6 {
    font-size: 17px;
    color: var(--main-color);
    font-weight: 600;
}

.in-text .btn-order a {
    display: inline-block;
    padding: 9px 23px;
    background: var(--bg-color);
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;
}

.in-text .btn-order a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 10px;
}

.top-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    border-radius: 10px;
    background: var(--button-primary);
}

.top-icon h5 {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.row img:hover {
    transform: scale(1.1);
}
/* End Menu */

/* Our Team Styles */
.ourteam-content {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.team-container {
    position: relative;
    /* margin-top: 10px; */
    width: 600px;
    height: 600px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
}

.team-container .icon {
    position: relative;
    left: -50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.team-container .icon .imgBox {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 0 4px var(--other-color), 0 0 0 6px var(--main-color);
    transform: rotate(calc(360deg/7 * var(--i)));
    transform-origin: 340px;
    z-index: 100;
    overflow: hidden;
}

.team-container .icon .imgBox.active {
    border: 1px solid var(--text-color);
    box-shadow: 0 0 0 4px var(--other-color), 0 0 0 8px var(--button-primary);
}

.team-container .icon .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(calc(-360deg/7 * var(--i)));
    transition: 0.5s;
    filter: grayscale(1);
}

.team-container .icon .imgBox.active img {
    filter: grayscale(0);
}

.team-container .icon-content {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-container .icon-content::before {
    content: '';
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid var(--main-color);
    border-right: 4px solid var(--button-primary);
    border-radius: 50%;
    animation: animasirotate1 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animasirotate1 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.team-container .icon-content::after {
    content: '';
    position: absolute;
    inset: 120px;
    border: 4px solid transparent;
    border-left: 4px solid var(--text-color2);
    border-right: 4px solid var(--text-color);
    border-radius: 50%;
    animation: animasirotate2 2.5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animasirotate2 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.team-container .icon-content .contentBox {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}

.team-container .icon-content .contentBox.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.team-container .icon-content .contentBox .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.team-container .icon-content .contentBox .card .imgBox {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.team-container .icon-content .contentBox .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-container .icon-content .contentBox .card .textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-container .icon-content .contentBox .card .textBox h2 {
    position: relative;
    font-size: 1.25em;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1em;
    text-align: center;
}

.team-container .icon-content .contentBox .card .textBox h2 span {
    font-size: 0.65em;
    color: var(--text-color2);
    font-weight: 500;
    letter-spacing: 0.1em;
}


.team-container .icon-content .contentBox .card .textBox .socialmedia {
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
}

.team-container .icon-content .contentBox .card .textBox .socialmedia li {
    list-style: none;
}

.team-container .icon-content .contentBox .card .textBox .socialmedia li a {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--other-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}

.team-container .icon-content .contentBox .card .textBox .socialmedia li a:hover {
    background: var(--button-primary);
}

.team-text {
    padding-left: 40px;
}

.team-text h1 {
    font-size: 72px;
    color: var(--main-color);
}

.team-text p {
    font-size: 24px;
}

.team-text p span {
    color: var(--button-primary);
}

/* End Our Team */

/* Footer Styles */
footer {
    background: var(--other-color);
    padding: 50px 100px;
    position: relative;
    width: 100%;
    height: auto;
}

.footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap: 20px;
}

.footer-container .sec h2 {
    position: relative;
    font-weight: 500px;
    margin-bottom: 15px;
}

.footer-container .sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--button-primary);
}

.footer-container .sec p {
    color: var(--text-color);
}

.footer-container .more-company {
    line-height: 1.8;
    position: relative;
}

.footer-container .social-media {
    position: relative;
}

.footer-container .social-media li a span {
    color: var(--text-color);
    text-decoration: none;
}

.footer-container .social-media li {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30px 1fr;
}

.footer-container .social-media li i {
    color: var(--main-color);
    font-size: 20px;
}

.footer-container .social-media li i:hover {
    opacity: 0.7;
}

.footer-container .contact-us {
    position: relative;
}

.footer-container .contact-us li {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 30px 1fr;
}

.footer-container .contact-us li span:nth-child(1) {
    color: var(--main-color);
    font-size: 20px;
}

.footer-container .contact-us li span {
    color: var(--text-color);
}

.footer-container .contact-us a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-container .contact-us a:hover {
    color: var(--main-color);
}

.copyrightText {
    width: 100%;
    background: var(--main-color);
    text-align: center;
    padding: 8px 100px;
    color: var(--text-color);
}
/* End Footer Sytles */


/* Responsive */
@media (max-width: 1200px) {

    /* Responsive Header */
    .main-nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    .main-nav ul li a {
        font-size: 16px;
    }

    /* responsive footer */
    footer {
        padding: 40px;
    }

    .footer .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 890px) {
    /* Responsive Header */
    .main-nav .logo img {
        margin-left: 20px;
        margin-top: 15px;
        width: 100px;
        max-height: auto;
    }

    .main-nav ul {
        position: absolute;
        width: 10rem;
        height: 100vh;
        background: var(--other-color);
        top: 70px;
        right: 0;
        /* bottom: 0; */
        transition: 0.3 ease;
        margin-right: 0;
        /* display: none; */
    }

    .main-nav ul li {
        display: block;
        line-height: 50px;
    }

    .main-nav ul li a {
        font-size: 15px;
    }

    .main-nav ul a.active {
        background: none;
        opacity: 100%;
    }

    .main-nav ul a {
        opacity: 0.8;
    }

    .main-nav ul a:hover {
        opacity: 0.5;
    }

    .top-nav,
    .main-nav ul .cart-link,
    .main-nav ul .search {
        display: none;
    }

    .main-nav .search-form.active {
        transform: scaleY(0);
    }

    .main-nav .shopping-cart.active {
        transform: scaleY(0);
    }

    .checkbtn {
        display: block;
    }

    #check:checked~ul {
        top: 80px;
        right: 0;
        width: 10rem;
        height: 100vh;
        /* bottom: 0; */
    }

    /* Responsive Footer */
    footer {
        padding: 40px;
    }

    .footer .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Login*/
/* Registrasi */
.register-body, .login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    inset: 0;
    background: url("../asset/lovbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container-register, .container-login {
    position: relative;
    width: 400px;
    height: auto;
    background: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.form-container h2 {
    font-size: 30px;
    text-align: center;
}

.form-container .input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid var(--bg-color);
}

.form-container .input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.form-container .input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.form-container .input-group input:focus~label,
.form-container .input-group input:valid~label {
    top: -5px;
}

/* validation etc */
.show-pass{
    position: absolute;
    top:5%;
    right: 8%;
}

.fa-eye{
    color: #022255;
    cursor: pointer;
}

.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}

.progress {
    height: 7px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.progress-bar {
    height: 100%;
    transition: width 0.3s;
}

.form-container .input-group #confirm_pass_error {
    font-size: 14px;
    color: red;
}

.form-container .input-group input.error {
    background-color: rgba(255, 0, 0, 0.1);
}

.form-container .input-group input.valid {
    background-color: rgba(0, 255, 0, 0.1);
}
/* end */

.form-container .remember {
    margin: -5px 0 15px 5px;
}

.form-container .remember label {
    font-size: 14px;
}

.form-container .remember label input {
    accent-color: var(--main-color);
}

.form-container button {
    position: relative;
    width: 100%;
    height: 40px;
    background: var(--button-primary);
    box-shadow: 0 0 10px var(--second-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.form-container .signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.form-container .signUp-link p a {
    color: var(--button-primary);
    text-decoration: none;
    font-weight: 500;
}

.form-container .signUp-link p a:hover {
    text-decoration: underline;
}

.form-container .signIn-link {
    font-size: 14px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.form-container .signIn-link p {
    margin: 0;
}

.form-container .signIn-link p a {
    color: var(--button-primary);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.form-container .signIn-link p a:hover {
    text-decoration: underline;
}